* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}

body {
    background-size: contain;
    color: aliceblue;
    background-color: rgb(31, 30, 30);
}

.all {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 20%;
}

a {
    text-decoration: none;
    border: 2px solid gray;
    background-color: black;
    border-radius: 12px;
    padding: 12px;
    color: aliceblue;
}
a:hover {
    background-color: gray;
}