* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 100%;
}

@font-face {
  font-family: myFont;
  src: url("/static/From\ Cartoon\ Blocks.ttf");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(31, 30, 30);
}

.everything {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.title h1 {
  font-family: myFont;
  font-size: 50px;
  padding: 30px;
  background-size: cover;
  text-align: center;
}

.title form{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

input[type="text"] {
  background: transparent;
  height: 40px;
  width: 250px;
  overflow: auto;
  border: none;
  border-bottom: 1px solid rgb(255, 251, 251);
}

input[type="text"]:focus {
  outline: none;
}

.artists {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

}

.artists .content {
  padding: 5px;
  background-color: rgba(71, 68, 68, 0.8);
}

.content:hover {
  transform: translateY(-10px);
  transition: ease-in-out;
}

.content a p {
  text-align: right;
}

button {
  background: none;
  border: none;
  font-size: 1.3rem;
}

button:hover {
  cursor: pointer;
}

#backup {
  padding: 30px;
}

a {
  text-decoration: none;
  outline: none;
  border: none;
}

.searchlink {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: grey;
  color: black;
  padding: 12px;
  border-radius: 12px;
}
.searchlink:hover {
  transform: translateY(-3px);
  background-color: rgb(54, 54, 54);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.bottom {
  background-color: rgb(61, 60, 60);
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
  width: 100%;
}