<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Groupie</title>
</head>

<body>
    <div class="everything">
        <div class="title" id="up">
            <h1>GROUPIE TRACKER</h1>
            <form action="/search" method="post">
                <input type="text" list="searching" name="thesearch" placeholder="Search something">
                <datalist id="searching">
                    {{range .Art_ists}}
                    <option value="{{.Name}}">{{.Name}} - artist/band</option>
                    {{end}}
                    {{range .Loca_tions}}
                    <option value="{{.}}">{{.}} - locations</option>
                    {{end}}
                    {{range .Art_ists}}
                    <option value="{{.FirstAlbum}}">{{.FirstAlbum}} - first album date</option>
                    {{end}}
                    {{range .Art_ists}}
                    <option value="{{.CreationDate}}">{{.CreationDate}} - creation date</option>
                    {{end}}
                    {{range .Art_ists}}
                    {{range .Members}}
                    <option value="{{.}}">{{.}} - members</option>
                    {{end}}
                    {{end}}
                </datalist>
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="all">
            <div class="artists">
                {{range .Art_ists}}
                <div class="content">
                    <p>{{.Name}}</p>
                    <img src={{.Image}}>
                    <h4>Creation Date :</h4>
                    <p>{{.CreationDate}}</p>
                    <a href="/artistsinfos?id={{.ID}}" class="aa">
                        <p>See more >></p>
                    </a>
                </div>
                {{end}}
            </div>
        </div>
        <button id="backup"><a href="#up" accesskey="u"><i class="fa-solid fa-arrow-up"></i>Go UP(or press Alt+Shift+U)</a></button>
        <div class="bottom">
            <p>For all feedback please contact: senseiZ01@gmail.com</p>
            <p>Credits: yba, sefaye, adiane</p>
            <p>Thanks for visiting...:3</p>
        </div>
    </div>
</body>

</html>