<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Groupie</title>
</head>

<body>
    <div class="title">
        <h1>GROUPIE TRACKER</h1>
        <form action="/search" method="post">
            <input type="text" list="searching" name="thesearch">
            <datalist id="searching">
                {{range .Art_ists}}
                <option value="{{.Name}}">{{.Name}} - artist/band</option>
                {{end}}
                {{range .Loca_tions.Index}}
                {{range .Locations}}
                <option value="{{.}}">{{.}} - locations</option>
                {{end}}
                {{end}}
                {{range .Art_ists}}
                <option value="{{.FirstAlbum}}">{{.FirstAlbum}} - first album date</option>
                {{end}}
                {{range .Art_ists}}
                <option value="{{.CreationDate}}">{{.CreationDate}} - creation date</option>
                {{end}}
                {{range .Art_ists}}
                <option value="{{.Members}}">{{.Members}} - members</option>
                {{end}}
            </datalist>
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="all">
        <div class="artists">
            {{range .Art_ists}}
            <div class="infs">
                <a href="/artistsinfos?id={{.ID}}"><img src={{.Image}}></a>
                <p>{{.Name}}</p>
            </div>
            {{end}}
        </div>
    </div>
</body>

</html>