<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="title">
        <h1>GROUPIE TRACKER</h1>
    </div>
    <div class="artists">
        {{range .Art_ists}}
        <div class="infs">
            <a href="/artistsinfos?id={{.ID}}"><img src={{.Image}}></a>
            <p>{{.Name}}</p>
        </div>
        {{end}}
    </div>
    
</div>
</body>
</html>