<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="title">
        <h1>GROUPIE TRACKER</h1>
        <p>RESULTS</p>
    </div>
    <div class="containall">
        <div class="results">
            {{range .}}
            <div class="infs">
                <a href="/artistsinfos?id={{.ID}}"><img src={{.Image}}></a>
                <p>{{.Name}}</p>
            </div>
            {{end}}
        </div>
        <a href="/" class="searchlink">
            <p>Go Back Home</p>
        </a>
    </div>
</div>
</body>
</html>